<div class="container">
    <div class="join-card">
        <h3 class="title">{{'create account' | translate}}</h3>
        <p class="action">
            {{'already have account?' | translate}}<a>{{'sign in' | translate}}</a>
        </p>
        <form>
            <div class="join-container">
              <img src="https://www.vectorlogo.zone/logos/google/google-icon.svg">
              <span>{{'sign in with google' | translate}}</span>
            </div>
            <div class="join-container">
                <img src="https://www.vectorlogo.zone/logos/facebook/facebook-icon.svg">
                <span>{{'sign in with facebook' | translate}}</span>
            </div>
            <div class="seprator">{{'or' | translate}}</div>
            <div class="input-container">
                <label for="email">{{'email' | translate}}</label>
                <input type="email" name="email" id="email" placeholder="exmpale@gmail.com">
            </div>
            <div class="input-container">
                <label for="name">{{'full name' | translate}}</label>
                <input type="text" name="name" id="name" placeholder="jon doe">
            </div>
            <div class="input-container">
                <label for="phone">{{'phone number' | translate}}</label>
                <input type="text" name="phone" id="phone" placeholder="+201000500500">
            </div>
            <div class="input-container">
                <label for="password">{{'password' | translate}}</label>
                <input type="password" name="password" id="password" placeholder="**********">
            </div>
            
            <button type="submit" class="button button-main"></button>
        </form>
    </div>
</div>