$plantation: #183a37;
$black-haze: #f2f3f3;
$white: #ffffff;
$porcelain: #f4f5f6;
$pewter: #95a09a;
$powder-ash: #bcc2c0;
$granite-green: #8a8770;
$hampton: #ccbd99;
$beaver: #8c6456;
$oxley: #317770;
$aqua-squeeze: #e3f3f2;
$indian-khaki: #bda88d;