<footer>
    <div class="container">
        <div class="description">
            <div class="logo">logo</div>
            <p class="desc">
                {{"description-text" | translate}}
            </p>
        </div>
        <div class="lists">
            <div class="list-item">
                <h3 class="item-header">
                    {{"fast links" | translate}}
                </h3>
                <ul>
                    <li>{{'offers' | translate}}</li>
                    <li>{{'brands' | translate}}</li>
                    <li>{{'phones' | translate}}</li>
                    <li>{{'electronics' | translate}}</li>
                    <li>{{'clothes' | translate}}</li>
                    <li>{{'profile' | translate}}</li>
                    <li>{{'cart' | translate}}</li>
                </ul>
            </div>
            <div class="list-item">
                <h3 class="item-header">
                    {{"information" | translate}}
                </h3>
                <ul>
                    <li>{{'shiping policy' | translate}}</li>
                    <li>{{'prushing roles policy' | translate}}</li>
                </ul>
            </div>
            <div class="list-item">
                <h3 class="item-header">
                    {{"payment methods" | translate}}
                </h3>
                <ul>
                    <li>{{'pay on delivery' | translate}}</li>
                    <li>{{'paybal' | translate}}</li>
                    <li>{{'credit cart' | translate}}</li>
                </ul>
            </div>
            <div class="list-item">
                <h3 class="item-header">
                    {{"contact us" | translate}}
                </h3>
                <ul>
                    <li>
                        <i class="bi bi-envelope-fill"></i>
                        info@dubks.com
                    </li>
                    <li>
                        <i class="bi bi-telephone-plus-fill"></i>
                        +201000500563
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>